.grid-template-columns-example {
  display: grid;
  grid-template-columns: 2fr minmax(100px, 1fr) 1fr;
  /* column-gap: 1rem; */
  /* row-gap: 2rem; */
  gap: 1rem;
}

.grid-template-rows-example {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 1rem;
}

.grid-child-stretch-img{
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
  object-position: center;
}

.bg-red {
  background: red;
}

.grid-task-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 1rem;
}

.grid-task-2{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.grid-task-2>div {
  align-self: stretch;
  justify-self: stretch;
  background: blue;
}

.grid-task-2>div>img{
  display: block;
  height: 100%;
  width: 100%;
}

.grid-task-3{
  display: grid;
  height: 120vh;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 3fr 4fr 3fr;
  gap: 1rem;
}

.task{
  display: grid;
  background: #333;
  gap: 0.5rem;
}

.grid-task-container{
  display: grid;
  height: calc(800px + 6rem);
  width: calc(1000px + 8rem);
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.task * {
  background: blue;
}

.task--1
.task--2{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.task--4{
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.y-start-1{grid-column-start: 1}
.y-start-2{grid-column-start: 2}
.y-start-3{grid-column-start: 3}
.y-start-4{grid-column-start: 4}
.y-start-5{grid-column-start: 5}
.y-start-6{grid-column-start: 6}
.y-start-7{grid-column-start: 7}
.y-start-8{grid-column-start: 8}

.y-end-1{grid-column-end: 1}
.y-end-2{grid-column-end: 2}
.y-end-3{grid-column-end: 3}
.y-end-4{grid-column-end: 4}
.y-end-5{grid-column-end: 5}
.y-end-6{grid-column-end: 6}
.y-end-7{grid-column-end: 7}
.y-end-8{grid-column-end: 8}

.x-start-1{grid-row-start: 1}
.x-start-2{grid-row-start: 2}
.x-start-3{grid-row-start: 3}
.x-start-4{grid-row-start: 4}
.x-start-5{grid-row-start: 5}
.x-start-6{grid-row-start: 6}
.x-start-7{grid-row-start: 7}
.x-start-8{grid-row-start: 8}

.x-end-1{grid-row-end: 1}
.x-end-2{grid-row-end: 2}
.x-end-3{grid-row-end: 3}
.x-end-4{grid-row-end: 4}
.x-end-5{grid-row-end: 5}
.x-end-6{grid-row-end: 6}
.x-end-7{grid-row-end: 7}
.x-end-8{grid-row-end: 8}