.btn {
  display: inline-block;
  background-color: var(--primary);
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  color: var(--light-grey);
  text-decoration: none;
  border: 2px solid var(--primary);
  font-size: 0.8rem;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.06rem;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s linear;
  text-align: center;
}