$white: #fff;
$grey: #bbb;
$errorColor: red;
$errorColorDarken: darken($errorColor, 15);
$defaultColor: #888;
$primaryColor: #1d8cc0;
$primaryColorHover: darken($primaryColor, 15);
$primaryColorMuted: desaturate($primaryColor, 50%);
