.main-section {
  padding-top: var(--navbar-height);
  position: relative;
}

.main-section__content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-section__content>* {
  justify-self: center;
  align-self: center;
}

.main-section__image {
  height: 135px;
}

.main-section__ux {
  text-align: center;
}

.main-section__header {
  margin-bottom: 1rem;
}

.main-section__image-tablet-h-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-section__content {
    height: 340px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .main-section__image {
    display: none;
  }
  .main-section__image-tablet-h-container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: var(--color-primary);
    height: 340px;
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  }
  .main-section__image-tablet-h-container__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
}

@media screen and (min-width: 1320px) {
  .main-section {
    height: 100vh;
  }
  .main-section__image-tablet-h-container {
    height: 100vh;
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    background: linear-gradient(to bottom, var(--color-white), var(--color-primary) 50%);
  }
  .main-section__content {
    grid-template-columns: auto;
    padding-left: 60%;
  }
  .main-section__header {
    font-size: 3rem;
    text-shadow: 0 1px 1px var(--color-white);
  }
}