.h1{font-size: 2rem;}
.h2{font-size: 1.75rem;}
.h3{font-size: 1.5rem;}
.h4{font-size: 1.3rem;}
.h5{font-size: 1.15rem;}
.h6{font-size: 1rem;}

.text-primary{ color: var(--color-primary);}
.text-secondary{ color: var(--color-secondary);}
.text-success{ color: var(--color-success);}
.text-white{ color: var(--color-white);}
.text-black{ color: var(--color-black);}