.card {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 5px 10px 5px #0003;
}

.card--apartment {
  width: 700px;
  height: var(--card-apartment-height);
  display: flex;
  justify-content: space-between;
}

/* violetinė */

.card--apartment__images {
  display: flex;
  flex-direction: column;
  /* 4*100 + 3*1rem */
  flex-basis: calc(100px * 4 + 3rem);
  flex-grow: none;
  flex-shrink: 0;
}

/* žydra */
.card--apartment__main-image {
  height: calc(var(--card-apartment-height) - 3rem - 100px);
  object-fit: cover;
  object-position: center;
  width: calc(100px * 4 + 3rem);
}

/* oranžinė */
.card--apartment__secondary-images {
  display: flex;
  justify-content: space-between;
  width: calc(100px * 4 + 3rem);
}

/* geltona */
.card--apartment__secondary-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}

.card--apartment__info {
  position: relative;
  flex-grow: 1;
  font-size: 1.05rem;
}

.card--apartment__heading {
  font-size: 1.3em;
}

.card--apartment__sub-heading {
  color: #555;
}

.card--apartment__btn-container {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}