.card{
  background: #fff;
  padding: 1rem;
  box-shadow: 0 5px 5px 5px #0003; 
}

.card--apartment{
  width: 700px;
}

/* violetinė */
.card--apartment__images{

}

/* žydra */
.card-apartment__main-image{

}

/* oranžinė */
.card-apartment__secondary-images{

}

/* geltona */
.card-apartment__secondary-image{

}