.cover{
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.cover--home{
  background-image: url(../../assets/images/home-cover.webp);
}

.cover--projects{
  background-image: url(../../assets/images/projects-cover.webp);
}