.parent{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 1rem;
}

.child{
  height: 300px;
  width: 300px;
  background: rgb(216, 216, 216);
}

.child--blue{
  background-color: blue;
}