@font-face{
  font-family: Dunkin;
  src: url(../fonts/Dunkin.otf);
}

@font-face{
  font-family: Dunkin;
  src: url(../fonts/Dunkin\ Bold.otf);
  font-weight: 700; 
}

@font-face{
  font-family: Dunkin;
  src: url(../fonts/Dunkin\ Bold\ Italic.otf);
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: Dunkin;
  src: url(../fonts/Dunkin\ Italic.otf);
  font-style: italic;
}