.courses-sections {
  background: var(--color-primary);
}

.courses-sections__content {
  padding: 1rem 0;
}

.courses-sections__header {
  font-weight: 400;
  margin-bottom: 1rem;
}

.courses-section__cards {
  display: grid;
  gap: 1rem;
}

.courses-section__card {
  position: relative;
  background: var(--color-white);
  padding: 1rem;
  box-shadow: 0 1px 1px 1px var(--color-shadow);
}

.courses-section__card__header {
  font-weight: normal;
  color: var(--color-primary);
}

.courses-section__card__header__desc {
  color: var(--color-grey);
  font-size: 0.8em;
}

.courses-section__card__time {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-primary);
  font-weight: 500;
}

.courses-section__card__image-link {
  float: right;
  height: 120px;
  display: flex;
  align-items: center;
}

.courses-section__card__image-link__image {
  height: 90px;
  width: 90px;
  background-image: url('../../images/courses/python-90x90.png');
  filter: grayscale(1);
  background-size: cover;
  background-position: center;
}

.courses-section__card__image-link__image:hover {
  filter: grayscale(0);
}

.courses-section__card__list {
  padding: 1.5rem 0 1.5rem 1.5rem;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courses-section__card__list__condition-name {
  display: inline-block;
  color: var(--color-primary);
  width: 50px;
  font-weight: 500;
}

.courses-section__card__list__condition-name:after {
  content: ':';
}

.courses-section__card__list__condition-text {
  font-size: 0.9em;
}

@media screen and (min-width: 568px) {
  .courses-section__cards {
    grid-template-columns: 1fr 1fr;
  }

  .courses-section__card__header{
    font-size: 1.3em;
  }
  .courses-section__card__header__desc {
    display: block;
  }
  .courses-section__card__image-link {
    float: none;
    justify-content: center;
    height: initial;
  }
  .courses-section__card__image-link__image {
    height: 219px;
    width: 219px;
    background-image: url('../../images/courses/python-219x219.png');
  }
  .courses-section__card__list {
    padding-top: 0;
    height: initial;
  }
  .courses-section__card__list>li {
    margin-bottom: 0.25rem;
  }
}

@media screen and (min-width: 768px) {
  
}