.navbar {
  height: var(--navbar-height);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 1px var(--color-shadow);
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: calc(var(--navbar-height) - 20px);
}

.navbar__hamburger {
  display: flex;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__hamburger__line {
  height: 2px;
  width: 100%;
  background: var(--color-black);
}

.navbar__links {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
  .navbar__links {
    display: flex;
  }
  .navbar__link-decoration {
    margin-left: 5px;
    margin-right: 5px;
    color: var(--color-shadow);
  }
  .navbar__link>a {
    color: var(--color-primary);
  }
  .navbar__link:hover>a {
    text-decoration: underline;
  }
}