:root{
  --breakpoint-tablet-v: 768px;
  --breakpoint-tablet-h: 1024px;
  --breakpoint-desktop: 1320px;

  --navbar-height: 60px;

  --color-primary: #3aaddf;
  --color-primary-hover: #30a8db;
  --color-black: #373c3e;
  --color-grey: #92a1a6;
  --color-grey-light: #f6f9fa;
  --color-shadow: #c2c2c291;
  --color-white: #fff;

  --font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-header: 'Roboto', sans-serif

}
